.optionsWrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 8px 0 0 0;
}

.optionsContent {
  margin: 10px 0 0 0;
}

.options {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
}
