.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.form {
  padding: 12px 24px;
  background-color: #2b214f;
  border-radius: 8px;
  width: min(100%, 500px);

  @media all and (max-width: 768px) {
    padding: 12px;
  }
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.submitButtonWrapper {
  display: flex;
  justify-content: center;
}

.submitButton {
  max-width: fit-content;
}

.servicesButtons {
  display: flex;
  margin-bottom: 10px;
}

.vkButton {
  margin-left: 15px;
}

.discordButton, .vkButton {
  cursor: pointer;
  border-radius: 50%;
  max-height: 30px;
}

.additionalText {
  margin-bottom: 10px;
}
