.hamburgerWrapper {
  display: none;

  @media all and (max-width: 768px) {
    display: block;
  }
}

.hamburgerPlaceholder {
  display: none;

  @media all and (max-width: 768px) {
    display: block;
  }
}

.hamburger {
  position: fixed;
  display: none;
  top: 0;
  transition: left 0.3s ease;
  z-index: 99999;

  @media all and (max-width: 768px) {
    display: flex;
  }
}

.hamburgerInActive {
  left: -220px;
  pointer-events: none;
}

.hamburgerActive {
  left: 0;

}

.hamburgerBackground {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  transition: opacity 0.25s ease-in-out;

  @media all and (max-width: 768px) {
    display: block;
  }
}

.hamburgerBackgroundActive {
  display: block;
  opacity: 1;
}

.hamburgerBackgroundInActive {
  pointer-events: none;
  opacity: 0;
}

.content {
  width: 220px;
  background: var(--primary-color);
  margin-right: 10px;
  filter: brightness(0.9);
  min-height: 100vh;
  padding: 10px;
}

.toggleButtonContainer {
  display: flex;
  align-items: center;
  width: 32px;
  height: 30px;
  margin: 14px 0 0 0;
  pointer-events: auto;
}

.toggleButton {
  position: relative;
  width: 100%;
  height: 5px;

  > span {
    position: absolute;
    background-color: white;
    height: 2px;
    width: 100%;
    left: 0;
    transition: all 0.5s ease;
  }
}

.toggleButtonActive {
  > span:nth-of-type(1) {
    top: 0;
    transform: rotate(45deg);
  }

  > span:nth-of-type(2) {
    opacity: 0;
    transform: rotate(45deg);
  }

  > span:nth-of-type(3) {
    top: 0;
    transform: rotate(-45deg);
  }
}

.toggleButtonInActive {
  > span:nth-of-type(1) {
    top: 8px;
  }

  > span:nth-of-type(2) {
    opacity: 1;
    top: 0;
  }

  > span:nth-of-type(3) {
    top: -8px;
  }
}

.title {
  font-size: 24px;
  margin-bottom: 24px;
}

.menuListContainer {
  width: 100%;
}

.menuList {
  list-style: none;

  > li {
    width: fit-content;
    cursor: pointer;
    transition: margin-left 0.3s ease;

    > a {
      font-size: 18px;
    }

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }

    &:hover {
      margin-left: 5px;
    }
  }
}

.hamburgerSearch {
  display: none;
  transform: translateX(40px);

  @media all and (max-width: 768px) {
    display: block;
  }
}
