.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 15px;
  width: min(100%, 1000px);
}

.posterContainer {
  position: relative;
  width: 450px;
  height: 220px;
  
  @media screen and (max-width: 420px) {
    height: 180px;
  }

  @media screen and (max-width: 350px) {
    height: 150px;
  }
}

.containerHeader {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  
  @media screen and (max-width: 920px) {
    justify-content: center;
  }
}

.poster {
  object-fit: cover;
  z-index: 1;
  border-radius: 12px;
}

.descriptionContainer {
  @media all and (max-width: 920px) {
    margin-top: 15px !important;
  }
}

.property {
  align-items: center;
}
