.title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
  transition: color 0.3s ease;
}

.login {
  margin: 0 0 10px 0;

  @media all and (max-width: 768px) {
    margin: 20px 0 10px 0;
  }
}

.loginText {
  color: var(--text-color);
  word-break: break-all;
  transition: color 0.3s ease;
}

.description {
  margin: 0 0 20px 0;
}

.descriptionText {
  color: var(--text-color);
  word-break: break-all;
  white-space: break-spaces;
  transition: color 0.3s ease;
}
