.input {
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: #1F1739;
  font-weight: 400;
  border: 1px solid #1F1739;
  transition: border 0.2s ease;

  &:hover {
    border: 1px solid var(--inputs-secondary-color);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--inputs-secondary-color);
  }
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

.label {
  margin-bottom: 5px;
  font-size: 17px;
}
