.input {
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: #1F1739;
  border: none;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

.label {
  margin-bottom: 5px;
  font-size: 17px;
}
