.loginOrRegistration {
  display: flex;
  justify-content: space-between;
  color: white;
  transform: translateY(-21px);

  > a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      filter: brightness(0.7);
    }
  }
}

.form {
  position: relative;
}

.formGirl {
  position: absolute;
  top: -68%;
  left: 0;
}
