.desktopContent {
  padding: 15px;
  //background: linear-gradient(black, transparent);

  @media all and (max-width: 768px) {
    display: none;
  }
}

.scheduleTitle {
  font-size: 26px;
  margin-bottom: 10px;
}

.scheduleTitle, .scheduleDayTitle {
  color: var(--primary-text-color);
}
