.dropdown {
  border: 1px solid var(--antd-menu-border-color) !important;
  background-color: var(--antd-menu-background-color) !important;
  transition: all 0.3s ease;

  li {
    color: var(--text-color) !important;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--antd-menu-background-hover-color);
    }
  }
}