.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
}

.mainBlock {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 230px;
  margin-top: 15px;
  gap: 15px;
  
  @media all and (max-width: 565px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.linkBlock {
  padding: 8px 12px;
  background-color: #2b214f;
  border-radius: 10px;
  width: min(100%, 500px);
  cursor: pointer;
}
