.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.form {
  padding: 12px 24px;
  background-color: #2b214f;
  border-radius: 8px;
  width: fit-content;

  @media all and (max-width: 768px) {
    padding: 12px;
  }
}

.submitButtonWrapper {
  display: flex;
  justify-content: center;
}

.submitButton {
  max-width: fit-content;
}

.servicesButtons {
  display: flex;
  align-items: center;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  background-color: #6d56bb;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  svg {
    display: block;
  }
}

.additionalText {
  margin-bottom: 10px;
}
