.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.form {
  padding: 12px 24px;
  background-color: #2b214f;
  border-radius: 8px;
  width: min(100%, 500px);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.block {
  margin-bottom: 15px;
}

.submitButtonWrapper {
  display: flex;
  justify-content: center;
}

.submitButton {
  max-width: fit-content;
}