.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.block {
  margin-bottom: 15px;
}

.submitButtonWrapper {
  display: flex;
  justify-content: center;
}

.submitButton {
  max-width: fit-content;
}

.additionalText {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resetPassword, .registration {
  display: flex;
  margin-bottom: 8px;

  > p {
    font-size: 13px;
    margin: 0 10px 0 0;
  }

  > a {
    font-size: 13px;
    color: lightseagreen;
  }
}
