.dialogDisplay {
  width: 100%;
  margin: 5px 0 0 0;
  background: var(--chat-background-color);
  border-radius: 8px;
}

.dialogDisplayHeightMobile {
  height: 100vh;
  max-height: 100vh;
}

.dialogDisplayHeightDesktop {
  height: 800px;
  max-height: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  align-items: center;
  background: var(--chat-background-color);
  border-bottom: 1px solid rgba(58, 58, 58, 0.4);
}

.headerAvatarAndLogin {
  display: flex;
  align-items: center;
}

.avatar {
  margin: 0 8px 0 0;
  cursor: pointer;
  min-width: 35px;
  width: 35px;
  min-height: 35px;
  height: 35px;
  transition: all 0.5s ease;
  border-radius: 50%;

  &:hover {
    border-radius: 10%;
  }
}
