.button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #6c5dd4;
  cursor: pointer;
  border: none;
  color: #fff;
  transition: background-color .3s ease,outline .03s ease;
  font-size: 13px;

  &:disabled {
    filter: brightness(0.85);
  }

  &:hover {
    background-color: #5d51bb;
  }

  &:active {
    background-color: #584cb0;
    outline: 3px solid rgba(88, 76, 176, 0.77);
  }
}
