.container {
  padding: 15px;
  margin-top: 15px;
}

.animeImagesContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;

  @media all and (max-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media all and (max-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media all and (max-width: 650px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media all and (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tabsSegment {
  margin: 20px 0;
}
