.block {
  margin-bottom: 15px;
}

.additionalText {
  display: flex;
  align-items: center;

  > p {
    font-size: var(--medium-font-size);
    margin: 0 10px 0 0;
  }

  > a {
    font-size: var(--medium-font-size);
    color: lightseagreen;
  }
}
