.desktopContent {
  padding: 15px;
  //background: linear-gradient(black, transparent);

  @media all and (max-width: 768px) {
    display: none;
  }
}

.scheludeTitle {
  font-size: 26px;
  margin-bottom: 10px;
}

.scheludeTitle, .scheludeDayTitle {
  color: var(--primary-text-color);
}

.mobileContent {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;

  @media all and (max-width: 768px) {
    display: grid;
  }

  @media all and (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
