.container {
  align-items: center;

  &.grid {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-gap: 12px;
  }

  &.block {
    display: block;
  }
}

.editButton {
  cursor: pointer;
}

.collectionName {
  font-weight: 500;
  font-size: var(--medium-font-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-right: 10px;

  @media screen and (max-width: 768px) {
    font-size: var(--large-font-size);
  }
}
