.mobile {
  display: none;
  min-height: 100vh;
  background-color: var(--primary-color);
  padding: 15px;

  @media all and (max-width: 768px) {
    display: block;
  }
}

.posterWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.poster {
  border-radius: 5px;
}

.titleName {
  font-size: 27px;
  margin-bottom: 8px;
}

.description {
  margin-bottom: 20px;
}

.descriptionTitle {
  font-size: 20px;
  font-weight: 600;
  color: lightgray;
  margin-bottom: 8px;
}

.rating {
  font-size: 20px;
  margin: 0 0 15px 0;
}
