.ant-pagination {
  a, button {
    color: var(--text-color) !important;
  }

  .ant-pagination-disabled {
    filter: brightness(0.9) !important;

    &:hover {
      border-color: var(--antd-pagination-border-color) !important;
    }
  }

  > li, button {
    background-color: var(--antd-pagination-background-color) !important;
  }

  li {
    border: 1px solid var(--antd-pagination-border-color) !important;
  }

  .ant-pagination-item-active {
    border-color: #1890ff !important;
  }

  li:hover {
    border-color: #1890ff !important;
  }

  button {
    border: none !important;
  }
}
