.ant-tag-checkable {
  color: var(--text-color) !important;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: #1890ff !important;
}

.ant-tag-checkable-checked {
  color: white !important;
}
