.mobileContent {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;

  @media all and (max-width: 768px) {
    display: grid;
  }

  @media all and (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
