.ant-collapse, .ant-collapse-content {
  background: var(--antd-accordion-background-color) !important;
}

.ant-collapse {
  border: 1px solid var(--antd-accordion-border-color) !important;
}

.ant-collapse-content {
  border-top: 1px solid var(--antd-accordion-border-color) !important;
}

.ant-collapse-arrow, .ant-collapse-header {
  color: var(--text-color) !important;
}

.ant-collapse-item {
  border: none !important;
}