.ant-checkbox-inner {
  background-color: var(--antd-checkbox-background-color) !important;
  border-color: var(--antd-checkbox-border-color) !important;
}

.ant-checkbox-checked > .ant-checkbox-inner {
  background-color: #1890ff !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #1890ff !important;
}

.ant-checkbox-wrapper-checked .ant-checkbox-inner {
  border-color: #1890ff !important;
}
