.ant-input:not(#defaultLayout .ant-input) {
  background: var(--antd-input-background-color) !important;
  border: 1px solid var(--antd-input-border-color) !important;
  color: var(--text-color) !important;

  &:hover {
    border-color: var(--antd-input-border-hover-color) !important;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--antd-input-box-shadow-focus-color) !important;
  }
}
