.ant-table-thead {
  > tr > th {
    background-color: var(--antd-table-thead-background-color) !important;
    color: var(--text-color) !important;

    &:hover {
      background-color: var(--antd-table-thead-background-hover-color) !important;
    }
  }
}

.ant-table {
  background-color: transparent !important;
}

.ant-table-cell {
  background-color: var(--antd-table-tbody-background-color) !important;
  border-bottom: 1px solid var(--antd-table-tbody-border-color) !important;
}

.ant-table-cell-row-hover {
  background-color: var(--antd-table-tbody-row-background-hover-color) !important;
}
