.menu {
  width: 100%;
  max-width: 150px;
  min-height: 100%;
  background: white;
}

.menuItem {
  width: 100%;
  padding: 8px 10px;
  background: #bdbdbd;
  cursor: pointer;
  border: none;
  text-align: left;
  transition: all 0.5s ease;

  &:hover {
    filter: brightness(0.7);
  }
}