.wrapper {
  position: relative;
  width: max(100%, 290px);
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.5s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
  }
  
  @media all and (max-width: 1550px) {
    height: 260px;
  }

  @media all and (max-width: 540px) {
    height: 200px;
  }

  @media all and (max-width: 400px) {
    height: 180px;
  }

  &.toRemove {
    transform: scale(0);
  }
}

.title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 3;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  > a {
    font-size: var(--large-font-size);
    cursor: pointer;
    color: var(--primary-text-color);
    transition: color 0.3s ease;

    @media all and (max-width: 768px) {
      font-size: var(--medium-font-size);
    }
  }

  &:hover > a {
    color: crimson;
  }
}

.shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(0deg, black 2%, transparent 98%);
}

.animeList {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.animeListImageWrapper {
  position: relative;
  min-width: 70px;
  min-height: 90px;

  @media all and (max-width: 768px) {
    min-width: 35px;
    min-height: 45px;
  }

  &:not(:last-of-type) {
    margin-right: 8px;

    @media all and (max-width: 768px) {
      margin-right: 4px;
    }
  }
}

.animeListImage {
  border-radius: 5px;
}

.byUser {
  position: absolute;
  top: 10px;
  left: 10px;
}

.byUserAvatar {
  border-radius: 50%;
}

.byUserNickname {
  margin-left: 10px;
}

.favoriteCounter {
  position: absolute;
  top: 5px;
  left: 5px;

  > div {
    position: relative;
  }
}

.favoriteCounterText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
