.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrapper > div {
  margin: 5px;
  max-width: 250px;
}

@media all and (max-width: 1232px) {
  .wrapper > div {
    max-width: 230px;
  }
}