.tag {
  display: block;
  width: fit-content;
  padding: 4px 8px;
  color: var(--primary-text-color);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: background-color 0.3s ease, border 0.2s ease;
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--inputs-secondary-color);
  }
}

.checked {
  background-color: rgba(28, 28, 28, 0.3);
  border: 1px solid var(--inputs-secondary-color);
}
