.container {
  position: relative;
}

.autocomplete {
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: #1F1739;
  border: none;
  font-weight: 400;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.menuList {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  padding: 8px 0;
  transition: max-height 0.3s ease;
  background-color: #1F1739;
  border-radius: 8px;
  overflow: hidden auto;
  z-index: 10;
  box-shadow: 0 8px 25px rgba(25, 42, 75, 15%);

  &::-webkit-scrollbar {
    display: none;
  }

  > li {
    padding: 5px 12px;
    cursor: pointer;
    width: 100%;
    background-color: #1F1739;
    transition: filter 0.3s ease;
    color: var(--primary-text-color);

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }
  }
}

.selectedMenu {
  filter: brightness(0.8);
}

.menuListOff {
  max-height: 0;
}

.menuListOn {
  max-height: 232px;
}
