.wrapper {
  height: 100vh;

  @media all and (max-width: 768px) {
    display: none;
  }
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 20px;
  background: linear-gradient(transparent, black);
}

.title {
  font-size: 50px;

  > a {
    transition: color 0.3s ease-in;

    &:hover {
      color: var(--secondary-color);
    }
  }
}

.description {
  max-width: 70%;
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tags > span {
  margin: 0 5px;
}
