.wrapper {
  height: 100vh;
  background-repeat: no-repeat;

  @media all and (max-width: 768px) {
    display: none;
  }
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 20px;
  background: linear-gradient(transparent, black);
}

.title {
  > a {
    font-size: 50px;
    transition: color 0.3s ease-in;

    &:hover {
      color: var(--secondary-color);
    }
  }
}

.description {
  max-width: 70%;
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 60px;
}

.tags > span {
  margin: 0 5px;
}
