.animeStatusColor {
  border-radius: 3px;
  width: 10px;
  height: 10px;
  margin: 0 8px;
}

.animeStatus {
  font-size: var(--medium-font-size);
  font-weight: bold;
  color: #a0a0a0;
}

.counter {
  color: var(--primary-text-color);
}
