.animeLibraryItemWrapper {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 350px;
  cursor: pointer;

  &:hover > div {
    opacity: 1;
  }
}

.animeLibraryItemContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(50, 50, 50, 0.8);
  opacity: 0;
  transition: all 0.5s ease;

  div {
    color: white;
    text-align: center;
  }
}

.animeLibraryItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 100%;
}

.animeLibraryItemTitle {
  color: white;
  text-align: center;
}

.animeLibraryItemDescription {
  display: flex;
  justify-content: center;
}
