.container {
  position: relative;
  max-width: 200px;
  width: fit-content;
}

.poster {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(0.7);
  }
}

.name {
  transition: all 0.3s ease;

  > a {
    color: var(--primary-text-color);
    transition: all 0.3s ease;
  }

  &:hover {
    color: var(--secondary-color);

    > a {
      color: var(--secondary-color);
    }
  }
}

.description {
  color: var(--primary-text-color);
  filter: brightness(0.7);
}

.name, .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media all and (max-width: 768px) {
    font-size: var(--small-font-size);

    > a {
      font-size: var(--medium-font-size);
    }
  }
}

.info {
  position: relative;
  max-width: 100%;

  @media all and (max-width: 768px) {
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 0 5px 5px 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 8px 8px;
  }
}
