.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.reloadButton {
  display: flex;
  justify-content: flex-end;
}

.news {
  margin: 10px 0 0 0;
}
