.wrapper {
  min-height: 100vh;
}

.wrapperBackgroundFilter {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(52,39,95,0.93) 30%, rgba(31,23,57,1) 100%);
  backdrop-filter: blur(8px);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1170px;
}